.card {
  display: flex;
  flex-direction: column;
  border-bottom: rgb(245, 98, 45) 1px solid;
  padding: 10px;
  box-shadow: rgb(202, 202, 202) 2px 2px 8px;
  background-color: white;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: hotpink 1px solid; */
}

.title {
  text-decoration: none;
  color: black;
  margin-left: 15px;
}

.info {
  display: flex;
  justify-content: space-between;
  /* border: orange 1px solid; */
  font-size: 0.8em;
}

.author {
  color: rgb(245, 98, 45);
  text-decoration: none;
}

.author:hover {
  text-decoration: underline;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  /* border: greenyellow 1px solid; */
}

.button {
  padding: 6px 6px;
  margin: 2px;
  background-color: rgb(69, 178, 251);
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.topic {
  padding: 6px 6px;
  background-color: rgb(69, 178, 251);
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.8em;
  margin-left: auto;
}
